input[type=password]{
    width: 80%;
}
span{
    /* background-color: black; */
    width: 100%;
    padding-inline: 10px;
    padding-left: 15px;
}
span input{
    width: 80% !important;
}
span button{
    width: 18%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: aliceblue;

}
.btns{
    margin-top: 10px;
    width: 100%;
    /* background-color: black; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns button{
    width: 120px;
    /* margin: 10px auto; */
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: blue;
    transition: all .5s ease;
    color: white;
}